.button {
  background-color: #10bb07; /* Green */
  border: none;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  // display: inline-block;
  font-family: Arial;
  font-size: small;
  // margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}
