// Header module
.header {
  background-color: map-get($colors, primary);
  padding: 2% 5% 2% 5%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 10px;
}

.header > a {
  grid-column: 1;
  color: white;
  font-size: x-large;
  font-family: Arial;
  font-weight: 100;
}
